{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1>Creer un nouveau Lieu</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" type="submit">Créer</button>
    {{ form_end(form) }}


    <a href="{{ path('app_lieu_index') }}" >Retour à la liste des Lieux</a>
{% endblock %}
