<div class="menuAdmin">
    <a href="{{ path('admin_gerer_utilisateur') }}">Gérer les utilisateurs</a>
    <a href="{{ path('app_campus_index') }}">Gérer les Campus</a>
    <a href="{{ path('app_lieu_index') }}">Gérer les lieux</a>
    <a href="{{ path('app_ville_index') }}">Gerer les villes</a>
</div>