{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
    <h1>Edit Campus</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" type="submit">Enregistrer</button>
    {{ form_end(form) }}


    <a href="{{ path('app_campus_index') }}">Retour à la liste</a>

{% endblock %}
