{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="formContainer">
        <div class="responsiveFormContainer">
            <h2>Demander un nouveau mot de passe</h2>
            <h3>Entrez votre adresse email pour reçevoir un lien de récupération.</h3>
            {{ form_start(requestForm) }}
            <div class="inputField">
                <label for="email">Email</label>
                {{ form_widget(requestForm.email) }}
            </div>
            <button class="purpleButton">Envoyer</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
