{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <img src="#" alt="logo_sortir">
    <a href="#">Villes</a>
    <a href="#">Campus</a>
    <a href="#">Accueil</a>
    <a href="#">Mon profil</a>
    <a href="#">Se déconnecter</a>

    <!-- PROVISOIRE -->
    <br>
    <!-- FIN PROVISOIRE -->

    <h3>Date du jour : 15/11/2022</h3>
    <h3>Participant : Corentin V. et Christopher L.</h3>

    <!-- PROVISOIRE -->
    <br>
    <br>
    <!-- FIN PROVISOIRE -->

    <h2>Filtrer les sorties</h2>

    <!-- PROVISOIRE -->
    <br>
    <!-- FIN PROVISOIRE -->

    <label for="campus">Campus</label>
    <select name="campus" id="campus">
        <option value="HEC">HEC</option>
        <option value="ENI">ENI</option>
        <option value="BSB">BSB</option>
    </select>

    <label for="barreRecherche">Le nom de la sortie contient : </label>
    <input id="barreRecherche" type="text">

    <!-- PROVISOIRE -->
    <br>
    <!-- FIN PROVISOIRE -->

    <label for="dateDebut">Entre </label>
    <input id="dateDebut" type="date">

    <label for="dateFin">et </label>
    <input id="dateFin" type="date">

    <input id="organisateur" type="checkbox" checked> <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>
    <input id="inscrit" type="checkbox" checked> <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
    <input id="nonInscrit" type="checkbox" checked> <label for="nonInscrit">Sorties auxquelles je ne suis pas inscrit/e </label>
    <input id="passee" type="checkbox"> <label for="passee">Sorties passées</label>

    <!-- PROVISOIRE -->
    <br>
    <!-- FIN PROVISOIRE -->

    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Cloture</th>
            <th>Inscrits/places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
        </tr>
        <tr>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
        </tr>
        <tr>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
        </tr>
        <tr>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
        </tr>
        <tr>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
            <td>The table body</td>
            <td>with two columns</td>
        </tr>
        </tbody>
    </table>

    <!-- PROVISOIRE -->
    <br>
    <!-- FIN PROVISOIRE -->

    <button type="submit" name="creerSortie">Créer une sortie</button>
{% endblock %}
