{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Administrateur{% endblock %}

{% block body %}

    <h1>PANEL ADMINISTRATEUR</h1>

    {% include'admin/inc/_navAdmin.html.twig' %}

{% endblock %}
