{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

    <img src="#" alt="logo_sortir">

    <a href="#">Accueil</a>
    <a href="#">Mon profil</a>
    <a href="#">Se déconnecter</a>


    <h1>Annuler une sortie</h1>

    <label for="annulationNomSortie">Nom de la sortie :</label>
    <input id="annulationNomSortie" type="text" readonly>

    <label for="annulationDateDebutSortie">Date  de la sortie :</label>
    <input id="annulationDateDebutSortie" type="date" readonly>

    <label for="annulationCampusSortie">Campus :</label>
    <input type="date" id="annulationCampusSortie" readonly>

    <label for="annulationLieu">Lieu :</label>
    <input id="annulationLieu" type="text" readonly>

    <label for="annulationMotif">Motif :</label>
    <textarea id="annulationMotif" placeholder="motif de l'annulation :"></textarea>


    <button type="submit">Enregistrer</button>
    <button type="submit">Annuler</button>

{% endblock %}