{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}

    <img src="#" alt="logo_sortir">

    <a href="#">Accueil</a>
    <a href="#">Mon profil</a>
    <a href="#">Se déconnecter</a>

    <!-- PROVISOIRE -->
    <br>
    <!-- FIN PROVISOIRE -->

    <h1>Créer une sortie</h1>

    {{ form(form) }}
{% endblock %}




