{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvé</h1>

    <p>
        Page non trouvé: <a class="purpleButton" href="{{ path('app_main') }}">Retourné à la page d'accueil !</a>.
    </p>
{% endblock %}