{% if app.user %}
<nav>
    <img src="#" alt="logo_sortir">
    <a href="{{ path('home') }}">Accueil</a>
    <a href="#">Mon profil</a>
    <a href="{{ path('app_logout') }}">Se déconnecter</a>
</nav>
{% endif %}